body, h1, h2, h3, h4, h5, h6 {
  margin:0;
}

h1 {
  font-size: 6rem;
  font-family: 'Piazzolla', serif;
  color: #f7fbfc;
}

h2 {
  font-family: 'Rokkitt', serif;
  font-size: 2.5rem;
  color: #393b44;
}

hr {
  margin:  0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 0.25rem solid;
  border-top: none;
  border-left: none;
  border-color: #d6e6f2;
  width: 15rem;
}

p {
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.3;
  color: #373a40;
}

a {
  text-decoration: none;
  font-weight: bolder;
  font-family: 'Piazzolla', serif;
  color: #8d93ab;
}

a:hover {
  color:#393b44;
}


body {
  text-align: center;
  color: #373a40;
  font-family: 'Lato', sans-serif;
  line-height: 1.3;
}

h1 {
  font-size: 6rem;
  font-family: 'Piazzolla', serif;
  color: #f7fbfc;
}

h2 {
  font-family: 'Rokkitt', serif;
  font-size: 2.5rem;
  color: #393b44;
}

hr {
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0.25rem solid;
  border-top: none;
  border-left: none;
  border-color: #d6e6f2;
  width: 15%;
}

p {
  font-size: 1.3rem;
}

.centered {
  position: absolute;
  top:12rem;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 0;
}

.main-header {
  width: 30rem;
  margin: 0 auto;
  z-index: 1030;
}

.sdss {
  height: 30rem;
  width: 30rem;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.top-container {
  position: relative;
  min-height: 40rem;
  width: 100%;
  margin: 0 auto;
  background-color: #8d93ab;
}