/* Order the css page by how it appears in the html file. The only exception are the elemental syling, which will be
 * at the top of the css file
 *
 * Colors from top to bottom:
 *
 *  #FFFFFF - white
 *  #F0F5FA - light gray
 *  #52616b - dark-gray
 *  #E1F7FA - silver blue
 *  #090B12 - dark dark navy blue
 *
 * Font styles:
 *
 *  body, h1, h3: font-family: 'Montserrat', sans-serif;
 *  navbar-brand: font-family: 'Cormorant Garamond', serif;
 *  qoute: font-family: 'Open Sans Condensed', sans-serif;
 *  h2: font-family: 'Raleway', sans-serif;

 */

a {
    text-decoration: none;
    color: #090B12;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

a:hover {
    color: #52616b;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

hr {
    margin-top: 2rem;
    margin-bottom:2rem;
    width: 10rem;
    border: 1px solid;
    color: #52616b;
    background-color: #52616b;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.8rem;
    font-weight: bold;
}

h2 {
    color: #0F0F0F;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    margin-top: 0;
    padding-bottom: 1rem;
}

h3 {
    color: #c9d6df;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
}

p {
    font-size: 1.2rem;
}


/* Background Colors */
.main-bg {
    background-color: #090B12;
    height: 45rem;
}


.dark-bg {
    background-color: #090B12;
}
.bg1 {
    background-color: #FFFFFF;
}

.bg2 {
    background-color: #F0F5FA;
}


/* Nav Bar */
.navbar-dark {
    color: #f0f5f9!important;
}

.navbar-brand {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.2rem;
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-item {
    margin:0 0.8rem;
}

.nav-link {
    color: #c9d6df!important;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
    color: #f0f5f9!important;
}
.nav-item:active {
    color: #f0f5f9!important;
}

.nav-link:active {
    color: #f0f5f9!important;
}



/* Main Heading */
#mainContent {
    text-align: center;
}

.main-page {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 5rem;
}

.main-image {
    height: 32rem;
    width: 32rem;
    margin-top: 10px;
    border: 4px solid;
    border-radius: 100%;
    border-color: #000;
}

.main-content {
    position: relative;
    padding-top: 6rem;
}

.main-header {
    position: absolute;
    top: 12rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 30rem;
}

.welcome-header {
    color: #FFFFFF;
    max-width: 100%;
}

.main-hr {
    width: 30%;
    color: #F0F5FA;
}

.welcome-paragraph {
    color: #F0F5FA;
    max-width: 100%;
    line-height: 2.5;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
}

.underline {
    text-decoration: underline;
}


/* About Me Section */
#aboutMe {
}

.about-content {
    padding-top: 7.5rem;
    padding-bottom: 3rem;
    width: 90%;
    margin: 0 auto;
}

.about-image {
    height: 15rem;
    width: 15rem;
    float: left;
    border: 2px solid;
    border-radius: 100%;
    margin-right: 50px;
    margin-bottom: 35px;
}

.about-header {
}

.about-paragraph {
    line-height: 2;
    text-align: justify;
}


/* Research Section */
#research {
}

.research-content {
    padding-top: 5rem;
    padding-bottom: 3rem;
    width: 90%;
    margin: 0 auto;
}

.research-image {
    height: 15rem;
    width: 15rem;
    float: right;
    border: 2px solid;
    border-radius: 100%;
    margin-left: 50px;
    margin-bottom: 35px;
}

.research-header {

}

.research-paragraph {
    line-height: 2;
    text-align: justify;
}


/* Teaching Section */
#teaching {
}

.teaching-content {
    padding-top: 7.5rem;
    padding-bottom: 3rem;
    width: 90%;
    margin: 0 auto;
}

.teaching-image {
    height: 15rem;
    width: 15rem;
    float: left;
    border: 2px solid;
    border-radius: 100%;
    margin-right: 50px;
    margin-bottom: 35px;
}

.teaching-header {
}

.teaching-paragraph {
    line-height: 2;
    text-align: justify;
}

/* Outreach Section */
#outreach {
}

.outreach-content {
    padding-top: 5rem;
    padding-bottom: 3rem;
    width: 90%;
    margin: 0 auto;
}

.outreach-image {
    height: 15rem;
    width: 15rem;
    float: right;
    border: 2px solid;
    border-radius: 100%;
    margin-left: 50px;
    margin-bottom: 35px;
}

.outreach-header {
}

.outreach-paragraph {
    line-height: 2;
    text-align: justify;
}


/* Contact */
#contact {
    text-align: center;
}

.contact-content {
    padding-top: 5rem;
    padding-bottom: 3rem;
    width: 75%;
    margin: 0 auto;
}

.contact-header {
    color: #f0f5f9;
    max-width: 100%;
    font-size: 3rem;
    padding-bottom: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.contact-paragraph {
    color: #f0f5f9;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
}

/* Footer */
#footer {
}
.copyright {
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
}

@media (max-width: 992px) {
    .main-bg {
    background-color: #090B12;
    height: 47.5rem;
    background-image: url("../images/sdss-low-res.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35rem ;
}
    h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5.0rem;
    font-weight: bold;
}
    .main-header {
    position: absolute;
    top: 14rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 30rem;
}
    .welcome-paragraph {
    color: #F0F5FA;
    max-width: 100%;
    line-height: 2.5;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
}
}

