/* Color Styles*

color: #15133C; (navy-blue)
color: #73777B; (dark-gray)
color: #EC994B; (light-orange)
color: #F1EEE9; (light-gray)

*/

body {
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EC994B;
  letter-spacing: 4px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 104px;
  margin: 0;
  font-weight: 100;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 80px;
  letter-spacing: 40px;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-page {
  height: 100vh;
  width: 100vw;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #15133C;
}

.first-half, .second-half {
  height: 40vh;
}

.socials {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab {
  font-size: 5vh;
  margin-left: 32px;
  margin-right: 32px;
}

.navy-bg {
  background-color: #15133C;
  color: #F1EEE9;
}

.light-bg {
  background-color: #F1EEE9;
  color: #15133C;
}

.dark-bg {
  background-color: #73777B;
  color: #EC994B;
}

.profile-pic {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 20vh;
  border-radius: 100%;
  border: 6px solid #15133C;
}

.portfolio, .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22vh;
}

.about, .cv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18vh;
}

.portfolio h2 {
  margin-bottom: 8vh;
}

.contact h2 {
  margin-top: 8vh;
}

.about:hover, .portfolio:hover {
  background-color: #F1EEE9;
  color: #15133C;
}

.contact {
  border-top: 3px solid #15133C;
}

.contact:hover {
  border-top: 3px solid #F1EEE9;
}

.contact:hover, .cv:hover {
  background-color: #15133C;
  color: #F1EEE9;
  /* border-top: 2px solid #F1EEE9; */
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-weight: 200;
    font-size: 48px;
    letter-spacing: 40px;
    margin: 0;
  }

  .profile-pic {
    border: 2px solid #15133C;
  }
}
