/* Color Styles*

color: #15133C; (navy-blue)
color: #73777B; (dark-gray)
color: #EC994B; (light-orange)
color: #F1EEE9; (light-gray)

*/

body {
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EC994B;
  letter-spacing: 4px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin: 0;
  font-weight: 100;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-page {
  height: 100vh;
  width: 100vw;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #15133C;
}

.first-half, .second-half {
  height: 40vh;
}

.socials {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.fab {
  font-size: 5vh;
  margin-left: 16px;
  margin-right: 16px;
}

.navy-bg {
  background-color: #15133C;
  color: #F1EEE9;
}

.light-bg {
  background-color: #F1EEE9;
  color: #15133C;
}

.dark-bg {
  background-color: #73777B;
  color: #EC994B;
}

.profile-pic {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 20vh;
  border-radius: 100%;
  border: 2px solid #15133C;
}

.portfolio, .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22vh;
}

.about, .cv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18vh;
}

.portfolio h2 {
  margin-bottom: 8vh;
}

.contact h2 {
  margin-top: 8vh;
}

.about:hover, .portfolio:hover {
  background-color: #F1EEE9;
  color: #15133C;
}

.contact {
  border-top: 1px solid #15133C;
}

.contact:hover {
  border-top: 1px solid #F1EEE9;
}

.contact:hover, .cv:hover {
  background-color: #15133C;
  color: #F1EEE9;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 64px;
    letter-spacing: 12px;
  }

  h2 {
    font-size: 48px;
    letter-spacing: 32px;
    font-weight: 200;
  }

  .fab {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    letter-spacing: 36px;
  }

  h2 {
    letter-spacing: 40px;
    margin: 0 auto;
  }

  .fab {
    margin-left: 56px;
    margin-right: 56px;
  }

  .about, .portfolio, .contact, .cv {
    display: inline-flex;
    text-align: center;
    width: 50vw;
    height: 40vh;
    margin: 0;
  }

  .portfolio h2, .contact h2 {
    margin: 0 auto;
  }

  .about, .contact {
    float: left;
  }

  .portfolio, .cv {
    float: right;
  }

  .contact, .cv {
    border-top: 1px solid #F1EEE9;
  }

  .about, .portfolio {
    border-bottom: 1px solid #15133C;
  }
}
