.btn-outline {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    &,
    &:link,
    &:visited {
        text-align: center;
        padding: 2rem 5rem;
        letter-spacing: 5px;
        border-radius: 50px;
        color: $color-light-gray;
        width: 25%;
        border: 1px solid $color-light-gray;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 auto;
        cursor: pointer;
        transition: all 0.4s;

        @include respond(tab-land) {
            width: 35%;
        }
    }

    &:hover {
        transform: translate(-50%, -0.8rem);
        background-color: darken($color-primary, 7%);
        color: darken($color-light-gray, 10%);
        border: 1px solid darken($color-light-gray, 10%);

        @include respond(tab-land) {
            border: 1px solid $color-light-gray;
            color: $color-light-gray;
            background-color: inherit;
            transform: translateX(-50%);
        }
    }

    &:active {
        transform: translate(-50%, -0.6rem);
        background-color: darken($color-primary, 5%);
        color: darken($color-light-gray, 5%);
        border: 1px solid darken($color-light-gray, 5%);

        @include respond(tab-land) {
            border: 1px solid $color-light-gray;
            color: $color-light-gray;
            background-color: inherit;
            transform: translateX(-50%);
        }
    }
}