.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateY(-50%);

    @include respond(tab-land) {
        transform: translateY(-10%);
    }

    @include respond(tab-port) {
        transform: translateY(-12%);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.card {
    flex: 0 0 30rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 48rem;
    border-radius: 20px;
    padding: 0;

    @include respond(tab-land) {
        height: 60rem;
        flex: 0 1 32rem;
        perspective: 0;
        -moz-perspective: 0;
        border: none;
        overflow: hidden;
        border: 1px solid #FFF;

        &:not(:last-child) {
            margin-bottom: 10rem;
        }
    }

    @include respond(tab-port) {
        flex: 0 1 68rem;
        width: 45rem;
    }

    @include respond(phone) {
        flex: 0 1 62rem;
        min-width: 30rem;
        width: 70%;
    }
    
    &:not(:last-child) {
        margin-right: 5rem;

        @include respond(tab-land) {
            margin-right: 1rem;
        }
    }

    &__heading {
        font-size: 3rem;
        text-align: center;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 2px;

        @include respond(tab-land) {
            font-size: 2.8rem;
        }
    }

    &__side {
        height: 48rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease;
        border: 1px solid $color-light-gray;
        
        @include respond(tab-land) {
            flex-flow: column nowrap;
            justify-content: space-between;
            border-radius: 20px;
            border: none;
        }

        &--front {
            color: #FFF;
            &-2 {
                background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
            }

            &-1 {
                background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
            }

            &-3 {
                background-image: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
            }

            @include respond(tab-land) {
                z-index: 10;
                height: 25rem;
                border-radius: 0;
                clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
                justify-content: center;
                padding: 3rem 1.5rem;
            }

            @include respond(tab-port) {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                height: 35%;
                position: static;
            }
        }

        &--back {
            transform: rotateY(180deg);
            background-color: #FFF;
            padding: 3rem;

            @include respond(tab-land) {
                padding: 6rem 1.5rem 4rem;
                transform: rotateY(0) translateY(40%);
                height: 43rem;
                border-radius: 0;
            }

            @include respond(tab-port) {
                padding: 3rem;
                position: static;
                transform: none;
                height: 65%;
            }

            @include respond(phone) {
                padding: 0 3rem 3rem;
            }
        }

        &--list {
            text-align: center;
            list-style: none;

            & > * {
                padding: 3rem 0;
                letter-spacing: 2px;
                font-size: 1.5rem;
                line-height: 1.5;
                font-weight: 300;

                @include respond(tab-land) {
                    padding: 2.5rem 0;
                }

                @include respond(tab-port) {
                    padding: 3rem 0;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid darken($color-light-gray, 20%);
                }
            }

        }

        &--button {
            display: inline-block;
            padding: 1.2rem 2.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            cursor: pointer;
            letter-spacing: 3px;
            font-family: $default-font-family;
            text-transform: uppercase;
            border-radius: 100px;
            transition: all 0.3s;

            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: inherit;
            }

            @include respond(tab-land) {
                padding: 1.2rem 0;
                width: 80%;
                text-align: center;
            }

            @include respond(tab-port) {
                width: 60%;
            }

            @include respond(phone) {
                width: 100%;
                max-width: 25rem;
            }

            &:hover {
                transform: translateY(-0.6rem) scale(1.02);
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);

                @include respond(tab-land) {
                    transform: none;
                    box-shadow: none;
                }
            }

            &:active {
                transform: translateY(-0.4rem) scale(1.01);
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);

                @include respond(tab-land) {
                    transform: none;
                    box-shadow: none;
                }
            }

            &-1 {
                &,
                &:link,
                &:visited {
                    background-color: #FFF;
                    color: $color-secondary;
                    border: 2px solid $color-secondary;
                }

                &:hover {
                    background-color: $color-secondary-dark;
                    color: #FEFEFE;
                    border: 2px solid $color-secondary-dark;

                    @include respond(tab-land) {
                        background-color: #FFF;
                        color: $color-secondary;
                        border: 2px solid $color-secondary;
                    }
                }
            }

            &-2 {
                &,
                &:link,
                &:visited {
                    background-color: #FFF;
                    color: $color-primary;
                    border: 2px solid $color-primary;
                }

                &:hover {
                    background-color: $color-primary-dark;
                    color: #FEFEFE;
                    border: 2px solid $color-primary-dark;

                    @include respond(tab-land) {
                        background-color: #FFF;
                        color: $color-primary;
                        border: 2px solid $color-primary;
                    }
                }
            }

            &-3 {
                &,
                &:link,
                &:visited {
                    background-color: #FFF;
                    color: $color-tertiary;
                    border: 2px solid $color-tertiary;
                }

                &:hover {
                    background-color: $color-tertiary-dark;
                    color: #FEFEFE;
                    border: 2px solid $color-tertiary-dark;

                    @include respond(tab-land) {
                        background-color: #FFF;
                        color: $color-tertiary;
                        border: 2px solid $color-tertiary;
                    }
                }
            }
            
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);

        @include respond(tab-land) {
            transform: rotateY(0);
        }
    }

    &:hover &__side--back {
        transform: rotateY(0deg);

        @include respond(tab-land) {
            transform: translateY(15rem);
        }
    }
}