.navigation {
    padding: 5rem 10rem;
    letter-spacing: 8px;
    font-weight: 300;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 1;
    animation: fadeIn 1.5s ease-in-out 1.8s;
    animation-fill-mode: backwards;

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;

        &-link {
            &,
            &:visited,
            &:link {
                text-decoration: none;
                color: $color-light-gray;
                transition: all 0.5s;
                display: inline-block;
            }

            &:hover {
                color: $color-secondary;
                transform: scale(1.2);
            }

            &:active {
                color: $color-secondary-dark;
                transform: scale(1.1);
            }
        }
    }
}
