
// FONTS
$default-font-size: 1.6rem;
$default-font-family: 'Montserrat', sans-serif;

// COLORS
$color-primary: #15133C;
$color-light-gray: #F1EEE9;
$color-dark-gray: #73777B;
$color-orange: #EC994B;