/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

html {
    font-size: 43.75%;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #15133C; 
	margin: 1.6rem auto;
}

@media screen and (min-width: 37.5em) {
	html {
		font-size: 50%;
	}

	body {
		letter-spacing: 1px;
	}
}

@media screen and (min-width: 56.25em) {
	html {
		font-size: 56.25%;
	}

	body {
		letter-spacing: 2px;
	}
}

@media screen and (min-width: 75em) {
	html {
		font-size: 62.5%;
	}

	body {
		letter-spacing: 3px;
	}
}

@media screen and (min-width: 112.5em) {
	html {
		font-size: 75%;
	}

	body {
		letter-spacing: 5px;
	}
}

.header {
	text-align: center;
}

@media screen and (min-width: 56.25em) {
	.header {
		max-width: 80%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 75em) {
	.header {
		max-width: 60%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 112.5em) {
	.header {
		max-width: 40%;
		margin: 0 auto;
	}
}

.header__heading {
	font-size: 4.2rem;
	text-align: center;
}

.header__title {
	font-size: 1.6rem;
	margin: 0.6rem auto 0.8rem;
}

.header__icons {
	display: flex;
	justify-content: space-evenly;
	margin: 1.2rem auto;
}



.header__icon, .header__icon:visited, .header__icon:link {
	color: #15133C;
	font-size: 2.4rem;
	transition: color 0.1s;
}

.header__icon:hover {
	color: #EC994B;
}

.title-container {
	text-align: center;
	background-color: #F1EEE9;
	border-top: 1px solid #15133C;
	border-bottom: 1px solid #15133C;
	padding: 0.8rem;
}

.title-container__heading {
	text-transform: uppercase;
	font-size: 2.6rem;
	letter-spacing: 5px;
	font-weight: 400;
}

.about__content {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 1.6rem;
	font-weight: 300;
}

.about__content--text {
	line-height: 2;
}

@media screen and (min-width: 56.25em) {
	.about__content {
		width: 70%;
	}
}

@media screen and (min-width: 75em) {
	.about__content {
		width: 60%;
	}
}

.education__content {
	padding: 2.4rem 3.2rem;
}

.education__container {
	line-height: 1.8;
}

.education__container:not(:last-child) {
	margin-bottom: 1.6rem;
}

.education__container--heading {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 2rem;
}

.education__container--text {
	font-weight: 300;
}

.education__container--text strong {
	font-weight: 500;
}

@media screen and (min-width: 37.5em) {
	.education__content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.education__container {
		flex: 0 0 45%;
	}

	.education__container:not(:last-child), .education__container:last-child {
		margin-bottom: 3rem;
	}
}

@media screen and (min-width: 75em) {

	.education__container {
		flex: 0 0 30%;
	}

	.education__container:not(:last-child), .education__container:last-child {
		margin-bottom: 5rem;
	}
}