/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #15133C; 
}

h1 {
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 2px;
}

h2 {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 2px;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-weight: 300;
}


a {
    text-decoration: none;
    color: inherit;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5%;
    height: 10vh;
}

.fa-bars {
    color: #15133C;
    font-size: 2.3rem;
}

.fa-bars:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

nav {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
}

nav a {
    width: 100%;
    border-top: 1px solid #15133C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

nav a:first-child {
    border-top: none;
}

/* ABOUT ME SECTION */
section {
    padding: 10% 5%;
    text-align: center;
}
section.about-me {
    /* height: 75vh; */
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url(../images/profile-pic.png);
    background-size: cover;
    background-position: center;
}

section.about-me h2 {
    margin-bottom: 3rem;
}

section.about-me h3 {
    margin: 2rem auto;
}

div.skills-logos {
    height: 8rem;
    max-height: 8rem;
    white-space: nowrap;
    margin: 2.5rem auto;
}

.programming-logo {
    display: inline;
    height: 5rem;
    width: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

div.edu-logos {
    white-space: nowrap;
}

.edu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    border-radius: 16px;
}

.edu p, .edu h4 {
    flex-basis: 100%;
}

.cofc, .nmsu, .udemy, .bloomtech {
    display: inline-block;
    width: 25rem;
    height: 20rem;
    margin: 2.5rem auto;
    color: #FFFFFF;
    border-radius: 16px;
    margin: 1.5rem;
}

.cofc {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://admissions.cofc.edu/assets/images/cofc-logo/cofc-logo-315x255.jpg);
    background-position: center;
    
    
}

.nmsu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://brand.nmsu.edu/official-university-logo/NM_State_Mark.png);
    background-position: center;
    background-size: cover;
}

.udemy {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://logosandtypes.com/wp-content/uploads/2020/12/Udemy.png);
    background-position: center;
    background-size: cover;
}

.bloomtech {
    /*  */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/408/original/Bloom_Institute_of_Technology_logo.png);
    background-position: center;
    background-size: cover;
}

#portfolio {
    background: linear-gradient(0deg, rgba(21, 19, 60, 0.5), rgba(21, 19, 60, 0.5)), url(https://blog.alexdevero.com/wp-content/uploads/2019/08/12-07-19-16-tips-to-become-a-better-programmer-pt1-blog.jpg);
    background-position: center;
    color: #FFFFFF;
}

#portfolio button {
    font-size: 2rem;
    background-color: #15133C;
    color: #FFFFFF;
    padding: 1.5rem 3rem;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-weight: 100;
    cursor: pointer;
}

#portfolio button:hover {
    background-color: #FFFFFF;
    color: #15133C;
    border: 1px solid #15133C;
}

#portfolio a {
    width: 60%;
    font-weight: 100;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.portfolio-item {
    flex-basis: 100%;
    height: 20rem;
    max-Width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FAFAFA;
}

.mundolm {
    /* assets/images/mundolm.png */
    background: linear-gradient(0deg, rgba(21, 19, 60, 0.8), rgba(21, 19, 60, 0.8)), url(../images/mundolm.png);
    background-position: center;
    background-size: contain;
}

.three-brothers {
    background: linear-gradient(0deg, rgba(21, 19, 60, 0.8), rgba(21, 19, 60, 0.8)), url(../images/3protherspainting.png);
    background-position: center;
    background-size: contain;
}

.networthdle {
    background: linear-gradient(0deg, rgba(21, 19, 60, 0.8), rgba(21, 19, 60, 0.8)), url(../images/networthdle.png);
    background-position: center;
    background-size: contain;
}

.uscucei {
    background: linear-gradient(0deg, rgba(21, 19, 60, 0.8), rgba(21, 19, 60, 0.8)), url(../images/USCUCEI.png);
    background-position: center;
    background-size: contain;
}

.mundolm:hover {
    /* assets/images/mundolm.png */
    background: linear-gradient(0deg,rgba(2, 0, 41, 0.8), rgba(2, 0, 41, 0.8)), url(../images/mundolm.png);
    background-position: center;
    background-size: contain;
}

.three-brothers:hover {
    /* assets/images/mundolm.png */
    background: linear-gradient(0deg,rgba(2, 0, 41, 0.8), rgba(2, 0, 41, 0.8)), url(../images/3protherspainting.png);
    background-position: center;
    background-size: contain;
}

.networthdle:hover {
    /* assets/images/mundolm.png */
    background: linear-gradient(0deg,rgba(2, 0, 41, 0.8), rgba(2, 0, 41, 0.8)), url(../images/networthdle.png);
    background-position: center;
    background-size: contain;
}

.uscucei:hover {
    /* assets/images/mundolm.png */
    background: linear-gradient(0deg,rgba(2, 0, 41, 0.8), rgba(2, 0, 41, 0.8)), url(../images/USCUCEI.png);
    background-position: center;
    background-size: contain;
}

.portfolio-item img {
    height: 20rem;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid #FFFFFF;
}

#contact h2 {
    margin-bottom: 2.5rem;
}

#contact p {
    margin-bottom: 3.5rem;
}

.soc-icon {
    font-size: 3.5rem;
    margin: 2.5rem;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3.7rem;
    }
    h2 {
        font-size: 3.4rem;
    }
    
    h3 {
        font-size: 3.0rem;
    }

    h4 {
        font-size: 2.7rem;
    }

    p {
        font-size: 2rem;
    }

    .fa-bars {
        font-size: 3.7rem;
    }

    nav a {
        font-size: 2.5rem;
    }

    section {
        padding: 7.5% 2%;
    }

    section.about-me h3 {
        margin-top: 10rem;
    }

    div.skills-logos {
        height: 10rem;
        max-height: 10rem;
        margin: 3.5rem auto;
    }

    .programming-logo {
        height: 10rem;
        width: 10rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .cofc, .nmsu, .udemy, .bloomtech {
        width: 35rem;
        height: 30rem;
        margin: 3rem;
    }

    .portfolio-item {
        flex-basis: 35%;
        height: 25rem;
        margin: 5rem;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .soc-icon {
        font-size: 8rem;
        margin: 3.5rem;
    }
}

@media only screen and (min-width: 900px) {
    h1 {
        font-weight: 400;
        letter-spacing: 5px;
    }
    .fa-bars {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: center;
    }

    nav {
        position: static;
        display: flex;
        flex-flow: row nowrap;
        border-top: 1px solid #15133C;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid #15133C;
        height: 8vh;
    }

    nav a {
        width: auto;
        border-top: none;
        font-size: 2rem;
    }

    section {
        padding: 5% 2% 3%;
    }

    .portfolio-item {
        flex-basis: 25%;
        height: 30rem;
        margin: 8rem 5rem;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .mundolm:hover, .uscucei:hover, .three-brothers:hover, .networthdle:hover {
        box-shadow: 5px 5px 18px white;
    }

    .soc-icon {
        font-size: 12.5rem;
        margin: 6rem;
    }
}