@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  70% {
    transform: translateX(3%);
    opacity: 1; }
  100% {
    transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  70% {
    transform: translateX(-3%);
    opacity: 1; }
  100% {
    transform: translateX(0); } }

@keyframes slideUp {
  0% {
    transform: translateY(50%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #F1EEE9;
  color: #15133c;
  letter-spacing: 2px; }

.heading-secondary {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 15px;
  text-transform: uppercase;
  transition: all 0.5s; }
  .heading-secondary--light {
    color: #F1EEE9; }
  .heading-secondary:hover {
    letter-spacing: 20px; }

.u-margin-bottom-xl {
  margin-bottom: 10rem !important; }

.u-margin-bottom-l {
  margin-bottom: 8rem !important; }

.u-margin-bottom-m {
  margin-bottom: 6rem !important; }

.u-margin-bottom-s {
  margin-bottom: 4rem !important; }

.u-margin-bottom-xs {
  margin-bottom: 2rem !important; }

.u-margin-bottom-xxs {
  margin-bottom: 0.5rem !important; }

.btn-outline {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
  .btn-outline, .btn-outline:link, .btn-outline:visited {
    padding: 2rem 5rem;
    letter-spacing: 5px;
    border-radius: 50px;
    color: #F1EEE9;
    border: 1px solid #F1EEE9;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.5s; }
  .btn-outline:hover {
    transform: translate(-50%, -0.7rem) scale(1.05);
    background-color: #0c0a21;
    color: #ddd6ca;
    border: 1px solid #ddd6ca; }
  .btn-outline:active {
    transform: translate(-50%, -0.4rem) scale(1.02);
    background-color: #0e0d29;
    color: #e7e2d9;
    border: 1px solid #e7e2d9; }

.cards-container {
  display: flex;
  justify-content: space-between; }

.card {
  flex: 0 0 30rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 48rem;
  border-radius: 20px;
  padding: 0 10rem;
  transform: translateY(-50%); }
  .card:not(:last-child) {
    margin-right: 2.5rem; }
  .card__heading {
    font-size: 3rem;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .card__side {
    height: 48rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    border: 1px solid #F1EEE9; }
    .card__side--front {
      color: #FFF; }
      .card__side--front-2 {
        background-image: linear-gradient(to bottom right, #231f63, #070715); }
      .card__side--front-1 {
        background-image: linear-gradient(to bottom right, #f1b379, #e77f1d); }
      .card__side--front-3 {
        background-image: linear-gradient(to bottom right, #b85de7, #8a1dc1); }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: #FFF;
      padding: 3rem; }
    .card__side--list {
      text-align: center;
      list-style: none; }
      .card__side--list > * {
        padding: 3rem 0;
        letter-spacing: 2px;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 300; }
        .card__side--list > *:not(:last-child) {
          border-bottom: 1px solid #c9beab; }
    .card__side--button {
      display: inline-block;
      padding: 1.2rem 2.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      cursor: pointer;
      letter-spacing: 3px;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      border-radius: 100px;
      transition: all 0.3s; }
      .card__side--button:hover {
        transform: translateY(-0.6rem) scale(1.02);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
      .card__side--button:active {
        transform: translateY(-0.4rem) scale(1.01);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08); }
      .card__side--button-1, .card__side--button-1:link, .card__side--button-1:visited {
        background-color: #FFF;
        color: #EC994B;
        border: 2px solid #EC994B; }
      .card__side--button-1:hover {
        background-color: #e77f1d;
        color: #FEFEFE;
        border: 2px solid #e77f1d; }
      .card__side--button-2, .card__side--button-2:link, .card__side--button-2:visited {
        background-color: #FFF;
        color: #15133c;
        border: 2px solid #15133c; }
      .card__side--button-2:hover {
        background-color: #070715;
        color: #FEFEFE;
        border: 2px solid #070715; }
      .card__side--button-3, .card__side--button-3:link, .card__side--button-3:visited {
        background-color: #FFF;
        color: #A531E0;
        border: 2px solid #A531E0; }
      .card__side--button-3:hover {
        background-color: #8a1dc1;
        color: #FEFEFE;
        border: 2px solid #8a1dc1; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.navigation {
  padding: 5rem 10rem;
  letter-spacing: 8px;
  font-weight: 300;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 1;
  animation: fadeIn 1.5s ease-in-out 1.8s;
  animation-fill-mode: backwards; }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-between; }
    .navigation__list-link, .navigation__list-link:visited, .navigation__list-link:link {
      text-decoration: none;
      color: #F1EEE9;
      transition: all 0.5s;
      display: inline-block; }
    .navigation__list-link:hover {
      color: #EC994B;
      transform: scale(1.2); }
    .navigation__list-link:active {
      color: #e77f1d;
      transform: scale(1.1); }

.profile-box {
  width: 70%;
  margin: 0 auto;
  border-radius: 8px;
  padding: 3rem;
  padding-left: 6rem;
  font-size: 1.6rem; }
  .profile-box__fig {
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    position: relative;
    margin-right: 2rem;
    margin-bottom: 2rem; }
  .profile-box__img {
    height: 100%;
    transform: scale(1.3);
    transition: all 0.5s;
    border-radius: 100%;
    position: absolute;
    top: 2rem;
    left: 0; }
  .profile-box__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #F1EEE9;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .profile-box__heading {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: #15133c;
    margin-bottom: 0.8rem; }
    .profile-box__heading span {
      color: #e77f1d; }
  .profile-box:hover .profile-box__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .profile-box:hover .profile-box__img {
    top: 0;
    transform: scale(0.9);
    filter: blur(3px) brightness(60%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col"] {
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 10rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 10rem) / 3); }

.landing-page {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #231f63, #070715);
  color: #F1EEE9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  position: relative; }
  .landing-page__header {
    line-height: 3;
    text-transform: uppercase;
    margin-top: -20rem; }
  .landing-page__heading {
    font-weight: 300;
    font-size: 5.6rem;
    letter-spacing: 25px;
    animation: slideInLeft 1.5s ease-out; }
    .landing-page__heading span {
      color: #EC994B; }
  .landing-page__text {
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: 10px;
    animation: slideInRight 1.5s ease-out; }
    .landing-page__text span {
      color: #EC994B; }
  .landing-page__icon {
    position: absolute;
    bottom: 10rem;
    font-size: 6.4rem;
    animation: slideUp 1.5s ease-out 1.8s;
    animation-fill-mode: backwards;
    transition: all 0.5s;
    cursor: pointer; }
    .landing-page__icon:hover {
      transform: scale(1.1) translateY(-0.8rem);
      color: #EC994B; }
    .landing-page__icon:active {
      transform: scale(1.05) translateY(-0.5rem);
      color: #e77f1d; }

.about {
  padding: 8rem 10rem 25rem; }

.skills {
  background-image: linear-gradient(to bottom right, #231f63, #070715);
  padding: 0 10rem 15rem; }

.tech-spec__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .tech-spec__container--wrapper {
    flex: 0 0 35rem;
    padding: 3rem 0;
    text-align: center; }

.tech-spec__heading {
  color: #EC994B;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 400;
  margin-bottom: 3rem; }

.tech-spec__list {
  color: #F1EEE9;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.5; }
