.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.btn {
  border: 2px solid #4ECCA3;
  border-radius: 10%;
  background-color: transparent;
  color: #4ECCA3;
  font-size: 1.5rem;
  padding: 7px 20px;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;

}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
