.header-section {
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba($color-dark-gray, 0.1), rgba($color-light-gray, 1));
    &__heading {
        font-weight: 300;
        letter-spacing: 16px;
        font-size: 4.8rem;
        transition: all 0.5s;
        text-transform: uppercase;
    }

    &__heading:hover {
        letter-spacing: 20px;
    }
}

.about-section {
    padding: 10rem 15rem 15rem;
    background-image: linear-gradient(to bottom right, rgba($color-light-gray, 1), rgba($color-dark-gray, 0.2));
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

