.landing-page {
    height: 100vh;
    background-image: $dark-bg;
    color: $color-light-gray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    position: relative;

    &__header {
        line-height: 3;
        text-transform: uppercase;
        margin-top: -20rem;
    }

    &__heading {
        font-weight: 300;
        font-size: 5.6rem;
        letter-spacing: 25px;
        animation: slideInLeft 1.5s ease-out;
        text-indent: 25px;

        span {
            color: $color-secondary;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 2.4rem;
        letter-spacing: 10px;
        animation: slideInRight 1.5s ease-out;
        text-indent: 10px;

        span {
            color: $color-secondary;
        }
    }

    &__icon {
        position: absolute;
        bottom: 10rem;
        font-size: 6.4rem;
        animation: slideUp 1.5s ease-out 1.8s;
        animation-fill-mode: backwards;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1) translateY(-0.8rem);
            color: $color-secondary;
        }

        &:active {
            transform: scale(1.05) translateY(-0.5rem);
            color: $color-secondary-dark;
        }
    }
}

.about {
    padding: 8rem 10rem 25rem;
}

.skills {
    background-image: $dark-bg;
    padding: 0 10rem 15rem;

    @include respond(tab-land) {
        padding: 0 5rem 15rem;
    }
}

.tech-spec {

    &__container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 8rem;

        &--wrapper {
            flex: 0 0 35rem;
            padding: 3rem 0;
            text-align: center;
        }
    }

    &__heading {
        color: $color-secondary;
        font-size: 3.2rem;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-weight: 400;
        margin-bottom: 3rem;
    }

    &__list {
        color: $color-light-gray;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 2.5;
    }
}

.portfolio {
    padding: 8rem 10rem 15rem;

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.contact {
    padding: 8rem 10rem 15rem;

    &__text {
        font-size: 2rem;
        text-align: center;
    }

    &__icons-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }

    &__link {
        margin-bottom: 8rem;

        &:not(:last-child) {
            margin-right: 8rem;
        }
        &,
        &:visited,
        &:link {
            color: $color-primary;
            transition: all 0.4s;
        }

        &:hover {
            color: $color-secondary;
            transform: scale(1.3);
        }

        &:active {
            color: $color-secondary-dark;
            transform: scale(1.15);
        }
    }

    &__icon {
        font-size: 10rem;
    }
}

.cv {
    padding: 8rem 10rem 15rem;
    background-image: $dark-bg;
    color: $color-light-gray;

    &__buttons {
        text-align: center;


    }

    &__button {

        &,
        &:link,
        &:visited {
            padding: 2rem;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $color-light-gray;
            color: $color-primary;
            margin-bottom: 5.6rem;
            border-radius: 50px;
            min-width: 25%;
            border: 1px solid $color-primary;
            letter-spacing: 3px;
            transition: all 0.4s;

            &:not(:last-child) {
                margin-right: 4rem;
            }
        }

        &:hover {
            transform: translateY(-0.8rem);
            background-color: darken($color-light-gray, 7%);
            color: darken($color-primary, 10%);
            border: 1px solid darken($color-primary, 10%);
        }
    
        &:active {
            transform: translateY(-0.6rem);
            background-color: darken($color-light-gray, 5%);
            color: darken($color-primary, 5%);
            border: 1px solid darken($color-primary, 5%);
        }
    }
    
}

footer {
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 300;
    font-size: 1.4rem;
}