.landing-page {
    height: 100vh;
    background-image: $dark-bg;
    color: $color-light-gray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    position: relative;
    

    &__header {
        line-height: 3;
        text-transform: uppercase;
        margin-top: -20rem;
    }

    &__heading {
        font-weight: 300;
        font-size: 5.6rem;
        letter-spacing: 25px;
        animation: slideInLeft 1.5s ease-out;

        span {
            color: $color-secondary;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 2.4rem;
        letter-spacing: 10px;
        animation: slideInRight 1.5s ease-out;

        span {
            color: $color-secondary;
        }
    }

    &__icon {
        position: absolute;
        bottom: 10rem;
        font-size: 6.4rem;
        animation: slideUp 1.5s ease-out 1.8s;
        animation-fill-mode: backwards;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1) translateY(-0.8rem);
            color: $color-secondary;
        }

        &:active {
            transform: scale(1.05) translateY(-0.5rem);
            color: $color-secondary-dark;
        }
    }
}

.about {
    padding: 8rem 10rem 25rem;
}

.skills {
    background-image: $dark-bg;
    padding: 0 10rem 8rem;
}
